<!DOCTYPE html>
<html lang="kk">

<head>
    <meta charset="UTF-8">
    <title>Қазақ Күртеше</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <h1>Қазақ Күртеше 🧥</h1>

    <img src="{{ url_for('static', filename='dress2.jpg') }}" style="width:300px; border-radius:15px;">

    <p>Ұлттық қазақ күртешесі, өте әдемі және сапалы.</p>

    <h3>Бағасы: 16 000 тг</h3>

    <!-- САТЫП АЛУ -->
    <a href="https://wa.me/+77773988869?text=Сәлем!%20Мен%20Қазақ%20Күртеше%20сатып%20алғым%20келеді" target="_blank">
        <button>🛒 Сатып алу</button>
    </a>

    <br><br>

    <a href="/">← Артқа</a>

</body>

</html>