<!DOCTYPE html>
<html lang="kk">

<head>
    <meta charset="UTF-8">
    <title>Ұлттық Жейде</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <h1>Ұлттық Жейде 👕</h1>

    <img src="{{ url_for('static', filename='dress1.jpg') }}" style="width:300px; border-radius:15px;">

    <p>Бұл қазақтың әдемі ұлттық жейдесі. Мерекеге өте ыңғайлы.</p>

    <h3>Бағасы: 16 000 тг</h3>

    <!-- САТЫП АЛУ БАТЫРМАСЫ -->
    <a href="https://wa.me/+77773988869?text=Сәлем!%20Мен%20Ұлттық%20Жейде%20сатып%20алғым%20келеді" target="_blank">
        <button>🛒 Сатып алу</button>
    </a>

    <br><br>

    <a href="/">← Артқа</a>

</body>

</html>