<!DOCTYPE html>
<html lang="kk">

<head>
    <meta charset="UTF-8">
    <title>Ұлттық киімдер дүкені</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <nav>
        <h2>KZ Ұлттық киімдер дүкені</h2>
    </nav>

    <h1>Біздің өнімдер</h1>

    <div class="products">

        <a href="/dress1" style="text-decoration:none; color:inherit;">
            <div class="card">
                <img src="{{ url_for('static', filename='dress1.jpg') }}">
                <h3>Ұлттық күртеше 1</h3>
                <p>Бағасы: 16 000 тг</p>
            </div>
        </a>

        <a href="/dress2" style="text-decoration:none; color:inherit;">
            <div class="card">
                <img src="{{ url_for('static', filename='dress2.jpg') }}">
                <h3>Ұлттық күртеше 2</h3>
                <p>Бағасы: 16 000 тг</p>
            </div>
        </a>

        <a href="/dress3" style="text-decoration:none; color:inherit;">
            <div class="card">
                <img src="{{ url_for('static', filename='dress3.jpg') }}">
                <h3>Ұлттық күртеше 3</h3>
                <p>Бағасы: 16 000 тг</p>
            </div>
        </a>

        <a href="/dress4" style="text-decoration:none; color:inherit;">
            <div class="card">
                <img src="{{ url_for('static', filename='dress4.jpg') }}">
                <h3>Ұлттық күртеше 4</h3>
                <p>Бағасы: 16 000 тг</p>
            </div>
        </a>

        <a href="/dress5" style="text-decoration:none; color:inherit;">
            <div class="card">
                <img src="{{ url_for('static', filename='dress5.jpg') }}">
                <h3>Ұлттық күртеше 5</h3>
                <p>Бағасы: 16 000 тг</p>
            </div>
        </a>

        <a href="/dress6" style="text-decoration:none; color:inherit;">
            <div class="card">
                <img src="{{ url_for('static', filename='dress6.jpg') }}">
                <h3>Ұлттық күртеше 6</h3>
                <p>Бағасы: 16 000 тг</p>
            </div>
        </a>

        <a href="/dress7" style="text-decoration:none; color:inherit;">
            <div class="card">
                <img src="{{ url_for('static', filename='dress7.jpg') }}">
                <h3>Ұлттық күртеше 7</h3>
                <p>Бағасы: 16 000 тг</p>
            </div>
        </a>

    </div>

    <footer>
        <h3>Байланыс: +7 778 357 9072 📞</h3>
    </footer>

</body>

</html>